{% for lb,param_lb in lbs.items() %}
balancer {{ lb }} {
    {% if param_lb.mode is defined %}mode {{ param_lb.mode }};{% endif %}

{% for server,param_server in param_lb.servers.items() %}
    server {{ server }}{% if param_server.settings is defined %} {{ param_server.settings}}{% endif %};
{% endfor %}
}
{% endfor %}

