{% for peer,param in peers.items() %}
{% if param.type | regex_search ('group') %}
{% for host in groups[peer] %}
{% if host == ansible_fqdn %}{% continue %}{% endif %}
{% if param.settings is defined %}
peer {{ host }} {
    {{ param.settings }}
}
{% else %}
peer {{ host }};  
{% endif %}  
{% endfor %}
{% endif %}
{% if param.type | regex_search ('single') %}
{% if param.settings is defined %}
peer {{ peer }}{
    {{ param.settings }}
}
{% else %}
peer {{ peer }};  
{% endif %}  
{% endif %}
{% endfor %}