{% for source,param in sources.items() %}
{% if param.type | regex_search ('group') %}
{% for host in groups[source] %}
{% if param.settings is defined %}
source {{ host }} {
    {{ param.settings }}
}
{% else %}source {{ host }};
{% endif %}  
{% endfor %}
{% endif %}
{% if param.type | regex_search ('single') %}
{% if param.settings is defined %}
source {{ source }} {
    {{ param.settings }}
}
{% else %}source {{ source }};  
{% endif %}  
{% endif %}
{% endfor %}