# --- BASE TEMPLATE ---
# deploy_id: {{ deploy_id }} 
http 80;
https 443;
pulsedb /var/lib/flussonic;
session_log /var/lib/flussonic;
cluster_key {{ hostvars[vars_host]['fls_cluster_key'] }};
view_auth {{ hostvars[vars_host]['fls_view_auth_login'] }} {{ hostvars[vars_host]['fls_view_auth_pass'] }};
edit_auth {{ hostvars[vars_host]['fls_edit_auth_login'] }} {{ hostvars[vars_host]['fls_edit_auth_pass'] }};
# Your flussonic config goes here
}
# --- BASE TEMPLATE --- 
