{
    "type": "service_account",
    "project_id": "{{ hostvars[vars_host]['ggl_project_id'] }}",
    "private_key_id": "{{ hostvars[vars_host]['ggl_private_key_id'] }}",
    "private_key": "{{ hostvars[vars_host]['ggl_private_key'] }}",
    "client_email": "{{ hostvars[vars_host]['ggl_client_email'] }}",
    "client_id": "{{ hostvars[vars_host]['ggl_client_id'] }}",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_x509_cert_url": "{{ hostvars[vars_host]['ggl_client_x509_cert_url'] }}"
  }
  
  