#!/bin/bash

NODE_STATE=$(busctl get-property org.keepalived.Vrrp1 /org/keepalived/Vrrp1/Instance/{{ vrrp.interface }}/{{ vrrp.vrid }}/IPv4 org.keepalived.Vrrp1.Instance State | awk '{print $3}' | sed -s "s/\"//g")
SERVICE_STATE=$(ps aux | grep dotnet  | grep Guard | grep -v grep)



case "$NODE_STATE" in
 "Master" )
 if [[  -z "$SERVICE_STATE" ]];then systemctl start customapp1;echo "customapp1 dead, restarting" | logger -t Keepalived_vrrp;fi
 ;;

 "Backup" )
  if [[ !  -z "$SERVICE_STATE" ]];then systemctl stop customapp1;echo "customapp1 started on backup node, stopping" | logger -t Keepalived_vrrp;fi
 ;;

esac
