[Unit]
Description=customapp1 service
After=network.target

[Service]
Type=simple
WorkingDirectory={{ deploy.project_dir }}
ExecStart=dotnet {{ deploy.project_dir }}/customapp1.dll
Restart=always
User={{ deploy.owner_user }}
SyslogIdentifier=customapp1

[Install]
WantedBy=multi-user.target
