vrrp_script chk_customapp1 {
    script "{{ deploy.project_dir }}/keepalived/check_proc.sh"
    interval 2
}
vrrp_instance {{ ansible_role_name }} {
    debug 2
    virtual_router_id {{ vrrp.vrid }}
    interface {{ vrrp.interface }}
    unicast_src_ip {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
    unicast_peer {
        {{ peer_ip.stdout }}
    }

    {% if ansible_hostname | regex_search(customapp1.master) %}
    state MASTER
    priority 254
    {% else %}
    state BACKUP
    priority 1
    {% endif %}

    virtual_ipaddress {
        {% for key, value in customapp1.connections.items() %}
        {{ value }}
        {% endfor %}
    }

    virtual_routes {
        {% for key,value in customapp1.connections.items() %}
        src {{ value }} {{ key }} dev {{ vrrp.interface }}
        {% endfor %}
    }
    track_script {
        chk_customapp1
    }
        notify {{ deploy.project_dir }}/keepalived/notify.sh
}




