# --- TRANS TEMPLATE --- 
template trans_generic
{
  source_timeout 2;
  transcoder deviceid=0 hw=cpu vb=2400k vcodec=h264 ab=64k acodec=ac3;
}

{% for stream,param in hostvars[vars_host]['streams'].dict.items() %}
{% if not param.skip|length %}
{% if param.template_trans|length %}
stream {{ stream }} {
   title "{{ param.title }}";
   input {{ param.input }};
   template trans_{{param.template_trans}};
   cluster_ingest{% if param.capture_at | regex_search('\d+') %} capture_at=trans-{{ param.capture_at }}.local{% endif %};
}
{% endif %}
{% endif %}
{% endfor %}

# --- TRANS TEMPLATE --- 